body {
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin: 0;
	text-align: center;
}

main {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: stretch;
}

.stat-area {
	width: 60%;
}

.bar {
	height: 15px;
	width: 100%;
	background-color: #FFFFFF;
}

.fill {
	height: 100%;
}

#health-fill {
	background-color: #FF0000;
}

#hunger-fill {
	background-color: #00FF00;
}

#happiness-fill {
	background-color: #FF00FF;
}

#health-button {
	background-color: #FF0000;
	color: #FFFFFF;
}

#hunger-button {
	background-color: #00FF00;
	color: #FFFFFF;

}

#happiness-button {
	background-color: #FF00FF;
	color: #FFFFFF;
}

#stats {
	background-color: #5da664;
	width: 34%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#interface {
	background-color: #3f6943;
	width: 66%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
